
{{$ctrl.RemitancesId}}

<div class="col-lg-2 col-lg-offset-5">
    <label>Action Type</label><br />
    <select class="form-control">
        <option>Remitances</option>
        <option>Expenses</option>
    </select><br />
    <label>Amount:</label><br />
    <input class="form-control" type="number" ng-model="$ctrl.Amount" /><br />
    <label>Month:</label><br />
    <input class="form-control" type="month" ng-model="$ctrl.Month" /><br />
    <label>Description:</label><br />
    <input class="form-control" type="text" ng-model="$ctrl.Description" /><br />
    <br />
    <button class="form-control" ng-click="$ctrl.AddRemitance()">Add</button>
</div>



 

